[Desktop Entry]
Type=Application
Name=Tailscale Systray
Version=1.0
Exec=tailscale-systray
Icon=/usr/share/tailscale-systray/tailscale-logo-blue.png
X-GNOME-Autostart-enabled=true